*{
    margin: 0px;
    padding: 0px;
}
#main{
    max-width: 1500px;
}
#navbar{
    margin-top: 5px;
    
}

#navbarHome{
    margin-bottom: 5px;
   
    
}

.nav-link{
    margin-left: 10px;
    margin-top: 8px;
    text-align: left;
    font-size: 1rem;
    width: 100%;
    
}

#registerbut{
    margin-left: 2%;
    margin-bottom: 1px;
    color: white;
    text-align: center;
    
}
#loginbut{
    color: white;
    margin-left: 2px;
    margin-bottom: 1px;
    text-align: center;

    
}

#footer{
    margin-bottom: 50px;
}

#inputsearch{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin: 15px 0px 0px 0px;
    font-size: 15px;
    text-align: center;
}

#carouselExampleDark{
    width: 60%;
    margin: 0px 0px 10px 20%;
}
